@model NewEmployeeContract

@{
    ViewBag.Title = "Poliçe Listesi";
}

<h1>Poliçe Al</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Employee" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fullname" class="control-label"></label>
                <input asp-for="Fullname" class="form-control" />
                <span asp-validation-for="Fullname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <label class="form-label">Poliçe</label>
                    <select class="form-select" asp-items="Model.ContractId" asp-for="SelectedContract">
                    </select>
                </div>
                <span asp-validation-for="ContractId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractInPortfolio" class="control-label">Çekilecek poliçe sayısı</label>
                <input asp-for="ContractInPortfolio" class="form-control" />
                <span asp-validation-for="ContractInPortfolio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@* @section Scripts { *@
@* @{ *@
@* await Html.RenderPartialAsync("_ValidationScriptsPartial"); *@
@* } *@
@* } *@