@model Insurance.WebApp.Contract

@{
    ViewBag.Title = "Yeni Poliçe Giriş Ekranı";
    Layout = "_layout";
}

<h4>Yeni poliçe tanımlamak için aşağıdaki alanları kullanabilirsiniz.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Contract" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label">Product Count</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}